* {
  margin: 0; padding: 0; box-sizing: border-box;
}

/* --- DESIGN MOBILE FIRST 375px ---*/
body {
  font-size: 15px;
  color: white;
}
.content {
  margin: 25% 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "card1" "card2" "card3";
}
h1 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  padding-top: 10%;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 10%;
  line-height: 1.7em;
  font-size: 0.9em;
  text-align: left;
}
input {
  margin-top: 10%;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border-style: none;
  font-family: 'Lexend Deca', sans-serif;
}
.card1 input {
  color: hsl(31, 77%, 52%);
}
.card2 input {
  color: hsl(184, 100%, 22%);
}
.card3 input {
  color: hsl(179, 100%, 13%);
}
input:hover {
  border: solid 2px white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.card1 {
  grid-area: card1;
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 15px 0 0;
  padding: 14%;
}
.card2 {
  grid-area: card2;
  background-color: hsl(184, 100%, 22%);
  padding: 14%;
}
.card3 {
  grid-area: card3;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 15px 15px;
  padding: 14%;
}
.attribution {
  color: hsl(179, 100%, 13%);
  margin-top: 5%;
  text-align: center;
}
.attribution a{
  color: hsl(31, 77%, 52%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(184, 100%, 22%);
}

/* ----------------------------------------- DESIGN 600PX ----------------------------------------- */
@media (min-width:600px) {
  .content {
    margin: 25% 15%;
  }
  h1 {
    font-size: 2.5em;
    padding-top: 5%;
  }
  p {
    font-size: 1em;
  }
  .card1, .card2, .card3 {
    padding: 10%;
  }
  input {
    width: 180px;
    height: 55px;
    font-size: 1em;
  }
  .attribution {
    font-size: 1em;
  }
}

/* ----------------------------------------- DESIGN 900PX ----------------------------------------- */
@media (min-width:900px) {
  .content {
    margin: 10% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card1 card2 card3";
  }
  h1 {
    font-size: 2em;
    padding-top: 10%;
  }
  p {
    font-size: 0.8em;
  }
  .card1 {
    border-radius: 15px 0 0 15px;
  }
  .card3 {
    border-radius: 0 15px 15px 0;
  }
  input {
    width: 130px;
    height: 45px;
    font-size: 0.8em;
    margin-top: 35%;
  }
  .attribution {
    font-size: 1em;
    text-align: center;
  }
}

/* --- DESIGN 1200PX --- */
@media (min-width:1200px) {
  .content {
    margin: 7% 18%;
  }
  h1 {
    font-size: 2.3em;
    padding-top: 15%;
  }
  p {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding-top: 15%;
  }
  .card1, .card2, .card3 {
    padding-left: 17%;
    padding-right: 17%;
  }
  input {
    width: 130px;
    height: 45px;
    font-size: 0.8em;
    margin-top: 35%;
  }
  .attribution {
    font-size: 1em;
  }
}